body {
    background-color: #fdffc2; /* 淡い黄色 */
    text-align: center;
    font-family: 'Roboto', sans-serif; /* ロボットフォントを使用 */
    font-size: 18px; /* フォントサイズ調整 */
}

h1 {
    font-size: 24px; /* タイトルの文字を大きめに */
    color: #444;
}

button {
    background: linear-gradient(45deg, #4CAF50, #45a049); /* グラデーションボタン */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* ボタンに影を追加 */
}

button:hover {
    background-color: #ffca28; /* ホバー時に少し濃い黄色 */
   /* background: linear-gradient(45deg, #45a049, #4CAF50);  ホバー時に色変化 */
}

#question, #answer {
    visibility: hidden; /* 最初は非表示 */
    opacity: 0; /* 完全に透明 */
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out; /* 透明度と可視性のトランジション */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* カードの影 */
    margin: 20px auto;
    max-width: 500px;
}

/* `.show`クラスが追加されると、表示される */
#question.show, #answer.show {
    opacity: 1; /* 表示 */
    visibility: visible; /* 可視化 */
}



