body {
    background-color: #fff9c4; /* 淡い黄色 */
    text-align: center;
    font-family: 'Roboto', sans-serif; /* ロボットフォントを使用 */
    font-size: 18px;
}

h1 {
    font-size: 24px;
    color: #444;
}

button {
    background: linear-gradient(45deg, #4CAF50, #45a049);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: linear-gradient(45deg, #45a049, #4CAF50);
}

#question, #answer {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out, visibility 1s;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 500px;
}

#question.show, #answer.show {
    visibility: visible;
    opacity: 1;
}

.hidden {
    display: none;
}
